<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Phiên bản</b> 0.0.1
  </div>
  <strong>Copyright &copy; 2019
    <a href="#">Nhiên Shop</a>.</strong> All rights reserved.
</footer>