<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/assets/img/nhien_ava.png" class="img-circle" alt="Nhien">
      </div>
      <div class="pull-left info">
        <p id="fullname"></p>
        <a href="#">
          <i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MENU ĐIỀU HƯỚNG</li>
      <li class="active treeview m-bh">
        <a href="#">
          <i class="fa fa-tachometer"></i>
          <span>BÁN HÀNG</span>
        </a>
        <ul class="treeview-menu">
          <li class="active m-bh-1">
            <a href="/">
              <i class="fa fa-plus"></i> Tìm Sản Phẩm</a>
          </li>
          <li class="m-bh-2">
            <a href="/recent-order">
              <i class="fa fa-plus"></i> Hóa Đơn Gần Đây</a>
          </li>
        </ul>
      </li>
      <li class="treeview m-sp">
        <a href="#">
          <i class="fa fa-product-hunt"></i>
          <span>QUẢN LÝ SÁN PHẨM</span>
        </a>
        <ul class="treeview-menu">
          <li class="m-sp-1">
            <a href="/product">
              <i class="fa fa-plus"></i> Danh Sách Sản Phẩm </a>
          </li>
          <li class="m-sp-2">
            <a href="/edit-product">
              <i class="fa fa-plus"></i> Thêm / Chỉnh Sửa</a>
          </li>
        </ul>
      </li>
      <li class=" treeview m-km">
        <a href="#">
          <i class="fa fa-newspaper-o"></i>
          <span>KHUYẾN MÃI</span>
        </a>
        <ul class="treeview-menu">
          <li class="m-km-1">
            <a href="/campaign">
              <i class="fa fa-plus"></i> Danh Sách Khuyến Mãi </a>
          </li>
          <li class="m-km-2">
            <a href="/edit-campaign">
              <i class="fa fa-plus"></i> Thêm / Chỉnh Sửa </a>
          </li>
        </ul>
      </li>
      <li class="treeview m-dh">
        <a href="/order">
          <i class="fa fa-list"></i>
          <span>QUẢN LÝ ĐƠN HÀNG</span>
        </a>
      </li>
      <li class=" treeview m-tk">
        <a href="#">
          <i class="fa fa-line-chart"></i>
          <span>BIỂU ĐỒ - THỐNG KÊ</span>
        </a>
        <ul class="treeview-menu">
          <li class="m-tk-1">
            <a href="/statistics-1">
              <i class="fa fa-plus"></i> Thống Kê 1 </a>
          </li>
          <li class="m-tk-2">
            <a href="/statistics-2">
              <i class="fa fa-plus"></i> Thống Kê 2</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
<script type="text/javascript">
  (function () {
    if (currentUser) {
      $('#fullname').html(currentUser.firstName + ' ' + currentUser.lastName);
      if (currentUser.role == 'salesman') {
        $('li.treeview:not(:first)').hide();
      }
    }
  })();
</script>