body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', sans-serif;
}
.content {
  position: relative;
}

.content-wrapper {
  background-color: #ffffff;
}

.treeview-menu {
  display: block;
}

.content-header, content {
  padding-top: 30px;
}

.content-header>h1 {
  text-align: center;
}

.box {
  box-shadow: 3px 3px 8px rgba(0,0,0,0.1)
}

.group-pick {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 0 0;
}

.group-pick div {
  min-height: 34px;
  min-width: 61px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #d2d6de;
  border-right: none;
  padding: 5px 10px;
  outline: 0;
  color: #555;
  cursor: pointer;
}
.group-pick div.select {
  background-color: #dd4b39;
  color: #ffffff;
  cursor: default;
}

.group-pick div:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.group-pick div:last-child {
  border-right: 1px solid #d2d6de;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input-group.price {
  max-width: 150px;
}
.input-group.price input {
  text-align: right;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
}
.input-group.price .input-group-addon {
  padding-left: 7px;
  padding-right: 7px;
}
.format-price {
  max-width: 150px;
  text-align: right;
  display: block;
  padding-top: 10px;
}
.box-header, .box-body, .box-footer {
  padding: 20px;
}
.red {
  color: #dd4b39;
}
.form-group label.error {
  font-weight: 300;
  color: #dd4b39;
  padding-top: 5px;
}

.text-capitalize {
  text-transform: capitalize;
}
.cell-bold {
  text-transform: uppercase;
  font-weight: 700;
}
.badge.medium {
  padding: 5px 15px;
}
.category-dr {
  display: none;
  position: absolute;
  z-index: 99;
  background: #fff;
  border: 1px solid #cacaca;
  width: 100%;
  border-top: none;
  border-bottom: none;
  max-height: 155px;
  overflow-y: auto;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
}

.category-dr.show {
  display: block;
}

.category-dr .cate-item {
  padding: 5px 12px;
  border-bottom: 1px solid #cacaca;
}
.category-dr .cate-item:hover,.category-dr .cate-item:active {
  border-color: #dd4b39;
  background-color: #dd4b39;
  color: #ffffff;
}

.pos-relative {
  position: relative;
}
.c-pointer {
  cursor: pointer;
}

.product-con {
  min-height: 400px;
}
.dataTables_filter {
  display: none;
}
.text-strike {
  text-decoration: line-through;
}

input.product-quantity {
  max-width: 50px;
  text-align: center;
}

.add-order > i {
  font-size: 16px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  border-top: 0;
}