<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Nhiên Shop - Trang Quản Lý</title>
  {{> head}}
  
</head>

<body class="hold-transition skin-red sidebar-mini">
  <div class="wrapper">
    {{> header}} {{> navigation}} {{{body}}} {{> footer_script}} {{> footer}}
  </div>
</body>

</html>